[user]
    name = galah92
    email = 14138433+galah92@users.noreply.github.com
[credential "https://github.com"]
    helper = !gh auth git-credential
[credential "https://gist.github.com"]
    helper = !gh auth git-credential
[alias]
    st = status
    co = commit
    amend = commit --amend --no-edit
    aa = add --all
    br = branch
    ch = checkout
    df = diff
    ps = push
    pl = pull
[fetch]
    prune = true # Remove remote tracking branches that no longer exist on the remote
[push]
    autoSetupRemote = true # Automatically set up the remote tracking branch
[init]
    defaultBranch = main
[pull]
    rebase = true
[core]
    editor = vi
    pager = delta
[color]
    ui = auto
[interactive]
    diffFilter = delta --color-only
[delta]
    navigate = true
    side-by-side = true
    hunk-header-style = omit
    file-style = bold
    file-decoration-style = none
    line-numbers = true
    line-numbers-left-style = dim
    line-numbers-right-style = dim
    line-numbers-minus-style = dim
    line-numbers-plus-style = dim
    line-numbers-zero-style = dim
    line-numbers-left-format = "{nm:>4} "
    line-numbers-right-format = "{np:>4} "
[merge]
    conflictstyle = zdiff3
